# Exercícios

1. Crie um dataframe de tax_data_2016.csv que usa apenas as colunas específicas necessárias para ver se há diferenças por geografia e nível de renda na composição familiar.
Para fazer isso, selecione as colunas sobre grupo de renda, são elas: CEP (zipcode), status de declaração de imposto de renda (coluna mars1 para solteiro e MARS2 para casado), e  NUMDEP (número de dependentes).

In [9]:
import pandas as pd

In [10]:
caminho = 'dados/atividade1/us_tax_data_2016.csv'

col = ['zipcode', 'mars1', 'MARS2', 'NUMDEP']

tax_data = pd.read_csv(caminho, usecols=col)

tax_data

      zipcode   mars1   MARS2  NUMDEP
0           0  477700  105350  491310
1           0  211930  142340  360480
2           0   83420  137870  182880
3           0   29420  124060  130160
4           0   20240  188080  195990
...       ...     ...     ...     ...
2996    36584       0      30      30
2997    36584       0      30      30
2998    36584       0       0       0
2999    36585      80      20      90
3000    36585      40      30      60

[3001 rows x 4 columns]

2. Obtenha as primeiras 500 linhas em um dataframe chamado primeiras500. 
Em seguida obtenha as próximas 500 linhas em um dataframe proximas500. 
Para fazer isso, use os argumentos ``nrows`` e  ``skiprows`` para obter os registros corretos, 
``header`` para informar aos pandas que os dados não têm nomes de colunas e ``names`` para fornecer os nomes de colunas ausentes.     
Depois, nomeie as colunas em proximos500 fornecendo uma lista de colunas de primeiros500 para o argumento ``names``.
Use a função list() para obter nomes de coluna de primeiros500.

In [11]:
tax_data_first500 = pd.read_csv(caminho, nrows=500)

col_names = list(tax_data_first500)

tax_data_first500

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,1,815440,477700,105350,221200,440830,1296920,...,367320,330066,0,0,0,0,63420,51444,711580,1831661
1,1,AL,0,2,495830,211930,142340,128890,272440,996240,...,398050,984297,0,0,0,0,74090,110889,416090,1173463
2,1,AL,0,3,263390,83420,137870,36340,154880,584000,...,253180,1349246,0,0,0,0,64000,143060,195130,543284
3,1,AL,0,4,167190,29420,124060,10610,99700,421720,...,165830,1425430,0,0,0,0,45020,128920,117410,381329
4,1,AL,0,5,217440,20240,188080,4880,129410,601040,...,216720,3922449,390,155,60,19,82940,423629,126130,506526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1,AL,35176,4,30,0,20,0,30,70,...,30,236,0,0,0,0,0,0,30,87
496,1,AL,35176,5,20,0,20,0,0,50,...,20,522,0,0,0,0,0,0,0,0
497,1,AL,35176,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
498,1,AL,35178,1,590,330,100,140,300,930,...,280,257,0,0,0,0,50,35,520,1243
499,1,AL,35178,2,390,150,120,100,200,760,...,320,728,0,0,0,0,50,64,330,926

In [12]:
tax_data_next500 = pd.read_csv( caminho, 
                                nrows=500, 
                                skiprows=500, 
                                header=None, 
                                names=col_names
                              )

tax_data_next500

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,35178,2,390,150,120,100,200,760,...,320,728,0,0,0,0,50,64,330,926
1,1,AL,35178,3,230,60,120,50,140,540,...,220,1052,0,0,0,0,50,110,170,508
2,1,AL,35178,4,120,30,90,0,80,280,...,110,931,0,0,0,0,40,62,80,274
3,1,AL,35178,5,110,0,90,0,80,280,...,110,1829,0,0,0,0,50,420,70,295
4,1,AL,35178,6,20,0,20,0,0,50,...,20,1551,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1,AL,35564,5,40,0,30,0,30,100,...,40,526,0,0,0,0,0,0,20,86
496,1,AL,35564,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
497,1,AL,35565,1,2250,1200,520,490,1590,3850,...,1060,1034,0,0,0,0,200,182,1940,4871
498,1,AL,35565,2,1270,430,600,220,920,2910,...,1010,2377,0,0,0,0,160,264,1100,3325
499,1,AL,35565,3,610,110,470,50,480,1620,...,590,2721,0,0,0,0,120,230,480,1434

3. Carregue o arquivo tax_data_2016.csv, visualize o atributo dtypes do dataframe e observe os tipos de dados de CEP e agi_stub.

In [13]:
tax_data_3 = pd.read_csv(caminho)
tax_data_3

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,0,1,815440,477700,105350,221200,440830,1296920,...,367320,330066,0,0,0,0,63420,51444,711580,1831661
1,1,AL,0,2,495830,211930,142340,128890,272440,996240,...,398050,984297,0,0,0,0,74090,110889,416090,1173463
2,1,AL,0,3,263390,83420,137870,36340,154880,584000,...,253180,1349246,0,0,0,0,64000,143060,195130,543284
3,1,AL,0,4,167190,29420,124060,10610,99700,421720,...,165830,1425430,0,0,0,0,45020,128920,117410,381329
4,1,AL,0,5,217440,20240,188080,4880,129410,601040,...,216720,3922449,390,155,60,19,82940,423629,126130,506526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,1,AL,36584,4,30,0,30,0,20,80,...,30,208,0,0,0,0,0,0,40,160
2997,1,AL,36584,5,30,0,30,0,20,80,...,30,465,0,0,0,0,0,0,0,0
2998,1,AL,36584,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2999,1,AL,36585,1,140,80,20,40,100,240,...,60,51,0,0,0,0,0,0,120,331
3000,1,AL,36585,2,90,40,30,40,60,180,...,80,165,0,0,0,0,40,62,80,228

In [14]:
tax_data_3.dtypes

STATEFIPS     int64
STATE        object
zipcode       int64
agi_stub      int64
N1            int64
              ...
A85300        int64
N11901        int64
A11901        int64
N11902        int64
A11902        int64
Length: 147, dtype: object

4. Você deve ter observado que a coluna agi_stub contém números que correspondem a categorias de renda, e CEP tem valores de 5 dígitos que devem ser strings -- tratá-los como inteiros significa que perdemos 0s iniciais, que são significativos. 
Defina os tipos de dados corretos criando um dicionario chamado null_values, especificando que 0s na coluna CEP devem ser considerados valores NA.
Depois, carregue tax_data_2016.csv, usando o argumento na_values e o dicionário para garantir que CEPs inválidos sejam tratados como ausentes.

In [15]:
null_values ={0}
tax_data_3 = pd.read_csv(caminho, dtype= {"zipcode":str}, na_values={"zipcode":null_values})
tax_data_3

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
0,1,AL,NaN,1,815440,477700,105350,221200,440830,1296920,...,367320,330066,0,0,0,0,63420,51444,711580,1831661
1,1,AL,NaN,2,495830,211930,142340,128890,272440,996240,...,398050,984297,0,0,0,0,74090,110889,416090,1173463
2,1,AL,NaN,3,263390,83420,137870,36340,154880,584000,...,253180,1349246,0,0,0,0,64000,143060,195130,543284
3,1,AL,NaN,4,167190,29420,124060,10610,99700,421720,...,165830,1425430,0,0,0,0,45020,128920,117410,381329
4,1,AL,NaN,5,217440,20240,188080,4880,129410,601040,...,216720,3922449,390,155,60,19,82940,423629,126130,506526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2996,1,AL,36584,4,30,0,30,0,20,80,...,30,208,0,0,0,0,0,0,40,160
2997,1,AL,36584,5,30,0,30,0,20,80,...,30,465,0,0,0,0,0,0,0,0
2998,1,AL,36584,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2999,1,AL,36585,1,140,80,20,40,100,240,...,60,51,0,0,0,0,0,0,120,331
3000,1,AL,36585,2,90,40,30,40,60,180,...,80,165,0,0,0,0,40,62,80,228

5. Leia o arquivo fcc_survey.xlsx, atribua-o à variável survey_responses e imprima os primeiros registros de survey_responses.

In [20]:
caminho2 = 'dados/aula3/fcc_survey.xlsx'

survey_responses = pd.read_excel(caminho2)

survey_responses.head()

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

6. Crie uma string chamada col_string, especificando que os pandas devem carregar a coluna AD e o intervalo AW até BA.
Carregue fcc_survey.xlsx, definindo ``skiprows`` e ``usecols`` para ignorar as duas primeiras linhas e obter apenas as colunas em col_string.
Visualize os nomes das colunas selecionadas no dataframe resultante.

In [21]:
col_string = "AD, AW:BA"

survey_responses = pd.read_excel(caminho2,
                                 skiprows=2,
                                 usecols=col_string
                                )
survey_responses.head()

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

7. Crie um dataframe a partir do arquivo `fcc_survey.xlsx` passando a posição da segunda aba para ``sheet_name``.

In [22]:
survey_responses_sheet2 = pd.read_excel(caminho2,
                                        sheet_name=1
                                       )

survey_responses_sheet2

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

8. Carregue as planilhas de 2016 e 2017 por nome em variáveis separadas. Calcule a média da coluna Age para as diferentes abas do arquivo.

In [ ]:
survey_responses_all_sheets = pd.read_excel(caminho2, 
                                            sheet_name = ["2016", "2017"]
                                           )

survey_responses_all_sheets

{'2016':         Age  AttendedBootcamp  BootcampFinish  BootcampFullJobAfter
 0      28.0               0.0             NaN                   NaN  \
 1      22.0               0.0             NaN                   NaN
 2      19.0               0.0             NaN                   NaN
 3      26.0               0.0             NaN                   NaN
 4      20.0               0.0             NaN                   NaN
 ...     ...               ...             ...                   ...
 15615  39.0               0.0             NaN                   NaN
 15616  27.0               0.0             NaN                   NaN
 15617  37.0               0.0             NaN                   NaN
 15618  26.0               0.0             NaN                   NaN
 15619  22.0               0.0             NaN                   NaN

        BootcampLoanYesNo  BootcampMonthsAgo BootcampName  BootcampPostSalary
 0                    NaN                NaN          NaN                 NaN  \
 1                    NaN                NaN          NaN                 NaN
 2                    NaN                NaN          NaN                 NaN
 3                    NaN                NaN          NaN                 NaN
 4                    NaN                NaN          NaN                 NaN
 ...                  ...                ...          ...                 ...
 15615                NaN                NaN          NaN                 NaN
 15616                NaN                NaN          NaN                 NaN
 15617                NaN                NaN          NaN                 NaN
 15618                NaN                NaN          NaN                 NaN
 15619                NaN                NaN          NaN                 NaN

        BootcampRecommend  ChildrenNumber  ... ResourceSoloLearn
 0                    NaN             NaN  ...               NaN  \
 1                    NaN             NaN  ...               NaN
 2                    NaN             NaN  ...               NaN
 3                    NaN             NaN  ...               NaN
 4                    NaN             NaN  ...               NaN
 ...                  ...             ...  ...               ...
 15615                NaN             NaN  ...               NaN
 15616                NaN             NaN  ...               NaN
 15617                NaN             NaN  ...               NaN
 15618                NaN             NaN  ...               NaN
 15619                NaN             NaN  ...               NaN

        ResourceStackOverflow  ResourceTreehouse  ResourceUdacity
 0                        NaN                NaN              NaN  \
 1                        NaN                NaN              NaN
 2                        NaN                NaN              NaN
 3                        NaN                NaN              NaN
 4                        NaN                NaN              NaN
 ...                      ...                ...              ...
 15615                    NaN                NaN              NaN
 15616                    NaN                1.0              NaN
 15617                    NaN                NaN              NaN
 15618                    NaN                NaN              NaN
 15619                    NaN                NaN              NaN

        ResourceUdemy  ResourceW3Schools  ResourceYouTube
 0                NaN                NaN              NaN  \
 1                1.0                NaN              NaN
 2                NaN                NaN              NaN
 3                NaN                NaN              NaN
 4                NaN                NaN              NaN
 ...              ...                ...              ...
 15615            1.0                NaN              NaN
 15616            NaN                NaN              NaN
 15617            NaN                NaN              NaN
 15618            1.0                NaN              NaN
 15619            NaN                NaN              NaN

                                   SchoolDegree              SchoolMajor
 0               some college credit, no degree                      NaN  \
 1               some college credit, no degree                      NaN
 2      high school diploma or equivalent (GED)                      NaN
 3                            bachelor's degree  Cinematography And Film
 4               some college credit, no degree                      NaN
 ...                                        ...                      ...
 15615                        bachelor's degree                Chemistry
 15616                        bachelor's degree   Electrical Engineering
 15617                        bachelor's degree                Chemistry
 15618       master's degree (non-professional)                     Math
 15619                        bachelor's degree           Graphic Design

        StudentDebtOwe
 0             20000.0
 1                 NaN
 2                 NaN
 3              7000.0
 4                 NaN
 ...               ...
 15615             NaN
 15616             NaN
 15617             NaN
 15618             NaN
 15619         40000.0

 [15620 rows x 113 columns],
 '2017':         Age  AttendedBootcamp  BootcampFinish  BootcampLoanYesNo BootcampName
 0      27.0               0.0             NaN                NaN          NaN  \
 1      34.0               0.0             NaN                NaN          NaN
 2      21.0               0.0             NaN                NaN          NaN
 3      26.0               0.0             NaN                NaN          NaN
 4      20.0               0.0             NaN                NaN          NaN
 ...     ...               ...             ...                ...          ...
 18170  41.0               0.0             NaN                NaN          NaN
 18171  31.0               0.0             NaN                NaN          NaN
 18172  39.0               0.0             NaN                NaN          NaN
 18173  54.0               0.0             NaN                NaN          NaN
 18174  50.0               0.0             NaN                NaN          NaN

        BootcampRecommend  ChildrenNumber                 CityPopulation
 0                    NaN             NaN            more than 1 million  \
 1                    NaN             NaN              less than 100,000
 2                    NaN             NaN            more than 1 million
 3                    NaN             NaN  between 100,000 and 1 million
 4                    NaN             NaN  between 100,000 and 1 million
 ...                  ...             ...                            ...
 18170                NaN             1.0            more than 1 million
 18171                NaN             1.0            more than 1 million
 18172                NaN             3.0            more than 1 million
 18173                NaN             3.0  between 100,000 and 1 million
 18174                NaN             2.0              less than 100,000

        CodeEventConferences  CodeEventDjangoGirls  ...  YouTubeFCC
 0                       NaN                   NaN  ...         NaN  \
 1                       NaN                   NaN  ...         1.0
 2                       NaN                   NaN  ...         NaN
 3                       NaN                   NaN  ...         1.0
 4                       NaN                   NaN  ...         NaN
 ...                     ...                   ...  ...         ...
 18170                   NaN                   NaN  ...         NaN
 18171                   NaN                   NaN  ...         1.0
 18172                   NaN                   NaN  ...         1.0
 18173                   NaN                   NaN  ...         1.0
 18174                   NaN                   NaN  ...         NaN

        YouTubeFunFunFunction  YouTubeGoogleDev  YouTubeLearnCode
 0                        NaN               NaN               NaN  \
 1                        NaN               NaN               NaN
 2                        NaN               NaN               1.0
 3                        1.0               NaN               NaN
 4                        NaN               NaN               NaN
 ...                      ...               ...               ...
 18170                    NaN               NaN               NaN
 18171                    NaN               NaN               NaN
 18172                    NaN               NaN               NaN
 18173                    NaN               NaN               1.0
 18174                    NaN               NaN               NaN

        YouTubeLevelUpTuts  YouTubeMIT  YouTubeMozillaHacks YouTubeOther
 0                     NaN         NaN                  NaN          NaN  \
 1                     NaN         NaN                  NaN          NaN
 2                     1.0         NaN                  NaN          NaN
 3                     1.0         NaN                  NaN          NaN
 4                     NaN         NaN                  NaN          NaN
 ...                   ...         ...                  ...          ...
 18170                 NaN         NaN                  NaN    never see
 18171                 NaN         NaN                  NaN          NaN
 18172                 NaN         NaN                  NaN          NaN
 18173                 NaN         NaN                  1.0          NaN
 18174                 NaN         NaN                  NaN          NaN

        YouTubeSimplilearn  YouTubeTheNewBoston
 0                     NaN                  NaN
 1                     NaN                  NaN
 2                     NaN                  NaN
 3                     NaN                  NaN
 4                     NaN                  NaN
 ...                   ...                  ...
 18170                 NaN                  NaN
 18171                 NaN                  NaN
 18172                 NaN                  1.0
 18173                 NaN                  NaN
 18174                 NaN                  NaN

 [18175 rows x 136 columns]}

In [ ]:
survey_responses_all_sheets.keys()

dict_keys(['2016', '2017'])

9. Concatene as diferentes abas do arquivo `fcc_survey.xlsx` em apenas um dataframe. Calcule a média da coluna Age para a concatenação das abas do arquivo.

In [ ]:
all_sheet = pd.concat(survey_responses_all_sheets.values())
all_sheet['Age'].mean()

28.388750862663905

10.  Utilizando uma query em SQL e o banco `sqlite-sakila.db` retorne as cidades e os países, mas apenas os países que começem com a letra **B**.

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy import inspect

In [ ]:
engine = create_engine('sqlite:///dados/aula3/sqlite-sakila.db')
insp = inspect(engine)
engine

Engine(sqlite:///dados/aula3/sqlite-sakila.db)

In [ ]:
sql_query ='''
SELECT
    country.country,
    city.city
FROM country
INNER JOIN city
ON country.country_id = city.country_id
WHERE country.country LIKE 'B%'
'''
df = pd.read_sql_query(sql_query,engine)
df

       country                  city
0      Bahrain             al-Manama
1       Brazil              Alvorada
2       Brazil        Angra dos Reis
3       Brazil               Anpolis
4       Brazil   Aparecida de Goinia
5       Brazil              Araatuba
6       Brazil                   Bag
7       Brunei   Bandar Seri Begawan
8       Brazil                  Belm
9       Brazil              Blumenau
10      Brazil             Boa Vista
11      Brazil               Braslia
12  Bangladesh                 Dhaka
13     Bolivia               El Alto
14      Brazil                Goinia
15      Brazil                Guaruj
16      Brazil   guas Lindas de Gois
17      Brazil                Ibirit
18  Bangladesh              Jamalpur
19      Brazil     Juazeiro do Norte
20      Brazil          Juiz de Fora
21      Brazil               Luzinia
22      Brazil                Maring
23     Belarus              Mogiljov
24     Belarus             Molodetno
25      Brazil                    Po
26      Brazil        Poos de Caldas
27      Brazil             Rio Claro
28    Bulgaria                  Ruse
29      Brazil   Santa Brbara dOeste
30      Brazil            Santo Andr
31      Brazil  So Bernardo do Campo
32      Brazil           So Leopoldo
33      Brazil              Sorocaba
34    Bulgaria          Stara Zagora
35     Bolivia                 Sucre
36  Bangladesh               Tangail
37      Brazil            Vila Velha
38      Brazil  Vitria de Santo Anto